.github/
.vscode/
.idea/
data/cleaned/
data/raw/
data/evaluate/
data/training/
logs/
README.html
best_model.keras
src/__pycache__/
README_files/
notebooks/old/
.python-version
.ruff_cache
.dvc/
.venv/
uv.lock
dvclive/